extends layout

block content
	//-  h1= title
	//-  p Welcome to #{title}
	
	#cyberia 
		.login-logo
			img(src="../images/cyberia.svg")
		.login-name
			label(for="form-name") Name:
			input(type="text" id="form-name" name="name" size="10" maxlength="20" class="login-name-input" required autocomplete="on")
		.login-submit
			input(type="submit" name="login" id="login-submit" value="ENTER" class="login-submit-input")
	#cyberia-options(style="display: none")
		.chat-avatar-select
			p Select Avatar
			.avatar-select.avatar-bakyura(data-avatar="bakyura")
			.avatar-select.avatar-gg(data-avatar="gg")
			.avatar-select.avatar-setton(data-avatar="setton")
			.avatar-select.avatar-kanra(data-avatar="kanra")
			.avatar-select.avatar-tanaka(data-avatar="tanaka")
			.avatar-select.avatar-zaika(data-avatar="zaika")
			.avatar-select.avatar-zawa(data-avatar="zawa")
			.avatar-select.avatar-kakka(data-avatar="kakka")
		.chat-select
			//-.news Image Board (WIP)
			.chat-broadcast Public Chat
			//-.chat-privately Private Chat (WIP)

			
		.chat-name
			.chat-name-input
				label(for="form-chat") Chat to:
				input(type="text" id="form-chat" name="name" size="10" maxlength="20" class="login-name-input" required autocomplete="on")
			.chat-submit
				input(type="submit" id="form-private-name" name="login" value="ENTER" class="login-submit-input")
	#cyberia-room(style="display: none")
		#talk
			.message-input
				input(type="text" id="message" autocomplete="off" placeholder="Anyone can write but few will understand" required)
				button Post
			.logout 
				button Logout